
docker {
    
    enabled = true

}

process {

	errorStrategy				= 'ignore'

	withLabel: ucgd {
    	executor				= 'slurm'
    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw -N 1'
    }

    withLabel: ucgd_long {
    	executor				= 'slurm'
    	clusterOptions			= '-A ucgd-rw --partition ucgd-rw --qos ucgd-long-rw -N 1'
    }
    
}

params {

	// N.B. use absolute paths for bismark_path, genome_files, and fastq_files
    
	bismark_path				= "/scratch/ucgd/lustre/work/proj_UCGD/u1084359/20221014_Wever-Pinzon/WGBS/Bismark-0.24.0"

	genome_files				= "/scratch/ucgd/lustre/work/proj_UCGD/u1084359/20221014_Wever-Pinzon/WGBS/genome_files" // Folder must contain the genome assembly fasta file as well as the genome files produced by bismark_genome_preparation

	//fastq_files					= "/scratch/ucgd/lustre-work/yandell/u6006572/LVAD_project/Old_Data/2022_10_28_Fastq/*{_1.txt.gz,_2.txt.gz}"
	fastq_files					= "/scratch/ucgd/lustre-work/yandell/u6006572/LVAD_project/Methylation/fastq/18881R/Fastq/*{R1,R2}*.{fastq,fq,fastq.gz,fq.gz,gz,txt.gz}"

	trimmed_fastq_dir			= "1_trimmed_fastq"

	bam_outdir					= "2_bam_files"

	deduplicated_outdir			= "3_deduplicated_bam_files"

	methylation_outdir			= "4_methylation_files"

	reports_dir					= "4_analysis_reports"

}